{% extends "main_app/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1>All premises</h1>

{% if all_premises %}
<table class="my_table">
    <thead>
        <tr>
            <th>Premises</th>
            <th>Guarded</th>
            <th>Alarm</th>
        </tr>
    </thead>
    <tbody>
        {% for premises in all_premises %}
        <tr>
            <td><a href="{% url 'concrete_premises_view' num_of_premises=premises.pk %}">{{ premises.address }}</a></td>
            <td>{{ premises.guarded }}</td>
            <td>{{ premises.alarm }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No premises in database. Please contact the administrator</p>
{% endif %}

{% endblock %}